
  <div class="site-preloader">
  <div class="spinner"></div>
  </div>



  <div id="popup-search-box">
  <div class="box-inner-wrap d-flex align-items-center">
  <form id="form" action="#" method="get" role="search">
  <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
  <button id="popup-search-button" type="submit" name="submit">
  <i class="las la-search"></i>
  </button>
  </form>
  <div class="search-close"><i class="las la-times"></i></div>
  </div>
  </div>

  <div id="searchbox-overlay"></div>
  <section class="page-header bd-bottom">
  <div class="page-header-bg"></div>
  <div class="container">
  <div class="page-header-info">
  <h4>About our company</h4>
  <h2>Build your dream <br>house <span>today!</span></h2>
  <p>Our versatile team is built of designers, developers and <br>digital marketers who all bring unique experience.</p>
  </div>
  </div>
  </section>

  <section class="about-section bd-bottom padding">
  <div class="container">
  <div class="row">
  <div class="col-lg-5">
  <div class="about-img-wrap">
  <img src="assets/img/about01.jpg" alt="img">
  <img src="assets/img/about02.jpg" alt="img">
  <div class="experience">
  <h3>25+ <span>years of <br> experience</span></h3>
  </div>
  </div>
  </div>
  <div class="col-lg-7">
  <div class="section-heading">
  <h3>Welcome to buildex corporation ltd!</h3>
  <h2>Recognized as one of the <span>leading company!</span></h2>
  <p>Construction is a general term meaning the art and science to form objects systems or organizations and comes from Latin constructio and Old French construction. To construct is the act of building and construction.</p>
  </div>
  <ul class="about-features">
  <li>
  <div class="about-icon">
  <i class="ci ci-excavators"></i>
  </div>
  <div class="about-features-content">
  <h3>Quality services</h3>
  <p>Construction is a general term meaning the art.</p>
  </div>
  </li>
  <li>
  <div class="about-icon">
  <i class="ci ci-engineer-2"></i>
  </div>
  <div class="about-features-content">
  <h3>Skilled developers</h3>
  <p>Construction is a general term meaning the art.</p>
  </div>
  </li>
  </ul>
  <div class="btn-group">
  <a href="about.html" class="default-btn">More About Us</a>
  <div class="about-author">
  <img src="assets/img/comment-1.png" alt="thumb">
  <h3>Mauricio Fernández <span>CO Founder - CEO</span></h3>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  <section class="service-section padding">
  <div class="bg-half"></div>
  <div class="container">
  <div class="section-heading text-center mb-40">
  <h3>Explore our construction services!</h3>
  <h2>Building the world with <br><span>quality services!</span></h2>
  <p>Construction is a general term meaning the art and science to form <br>objects systems or organizations.</p>
  </div>
  <div class="row">
  <div class="col-lg-3 col-md-6 sm-padding">
  <div class="service-item">
  <div class="service-item-inner">
  <div class="service-thumb">
  <img src="assets/img/post-1.jpg" alt="thumb">
  </div>
  <div class="service-content">
  <div class="service-icon">
  <i class="ci ci-bulldozer"></i>
  </div>
  <h3>Automobile Manufacturing</h3>
  <p>Construction is a general term meaning the art and science form objects.</p>
  <a class="read-more" href="service-details.html">Read More</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6 sm-padding">
  <div class="service-item">
  <div class="service-item-inner">
  <div class="service-thumb">
  <img src="assets/img/post-2.jpg" alt="thumb">
  </div>
  <div class="service-content">
  <div class="service-icon">
  <i class="ci ci-excavators"></i>
  </div>
  <h3>Mechanical Power Engineering</h3>
  <p>Construction is a general term meaning the art and science form objects.</p>
  <a class="read-more" href="service-details.html">Read More</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6 sm-padding">
  <div class="service-item">
  <div class="service-item-inner">
  <div class="service-thumb">
  <img src="assets/img/post-3.jpg" alt="thumb">
  </div>
  <div class="service-content">
  <div class="service-icon">
  <i class="ci ci-water-system"></i>
  </div>
  <h3>Oil Gas Petroleum Industry</h3>
  <p>Construction is a general term meaning the art and science form objects.</p>
  <a class="read-more" href="service-details.html">Read More</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6 sm-padding">
  <div class="service-item">
  <div class="service-item-inner">
  <div class="service-thumb">
  <img src="assets/img/post-4.jpg" alt="thumb">
  </div>
  <div class="service-content">
  <div class="service-icon">
  <i class="ci ci-paint-brush"></i>
  </div>
  <h3>Renovation and Repurpose</h3>
  <p>Construction is a general term meaning the art and science form objects.</p>
  <a class="read-more" href="service-details.html">Read More</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="service-cta">
  <div class="service-cta-inner">
  <h4>Offering High Quality Construction Solutions!</h4>
  <a class="default-btn" href="contact.html">Make an Appointment</a>
  </div>
  </div>
  </div>
  </section>

  <section class="team-section padding-bottom">
  <div class="wave-line"></div>
  <div class="container">
  <div class="section-heading text-center mb-40">
  <h3>Our team members</h3>
  <h2>Meet our <span>engineers!</span></h2>
  <p>Construction is a general term meaning the art and science to form <br>objects systems or organizations.</p>
  </div>
  <div class="row gy-lg-0 gy-4 gx-0">
  <div class="col-lg-3 col-md-6">
  <div class="team-item">
  <div class="team-thumb">
  <img src="assets/img/team-1.jpg" alt="thumb">
  <ul class="team-social">
  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
  <li><a href="#"><i class="lab la-twitter"></i></a></li>
  <li><a href="#"><i class="lab la-instagram"></i></a></li>
  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
  </ul>
  </div>
  <div class="team-content">
  <h4 class="position">Site Engineer</h4>
  <h3><a href="team-details.html">Joseph Crawford</a></h3>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="team-item">
  <div class="team-thumb">
  <img src="assets/img/team-2.jpg" alt="thumb">
  <ul class="team-social">
  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
  <li><a href="#"><i class="lab la-twitter"></i></a></li>
  <li><a href="#"><i class="lab la-instagram"></i></a></li>
  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
  </ul>
  </div>
  <div class="team-content">
  <h4 class="position">Project Manager</h4>
  <h3><a href="team-details.html">Anthony Notson</a></h3>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="team-item">
  <div class="team-thumb">
  <img src="assets/img/team-3.jpg" alt="thumb">
  <ul class="team-social">
  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
  <li><a href="#"><i class="lab la-twitter"></i></a></li>
  <li><a href="#"><i class="lab la-instagram"></i></a></li>
  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
  </ul>
  </div>
  <div class="team-content">
  <h4 class="position">Structural Engineer</h4>
  <h3><a href="team-details.html">Allison Herman</a></h3>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="team-item">
  <div class="team-thumb">
  <img src="assets/img/team-4.jpg" alt="thumb">
  <ul class="team-social">
  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
  <li><a href="#"><i class="lab la-twitter"></i></a></li>
  <li><a href="#"><i class="lab la-instagram"></i></a></li>
  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
  </ul>
  </div>
  <div class="team-content">
  <h4 class="position">Executive Advisor</h4>
  <h3><a href="team-details.html">James Williams</a></h3>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  <section class="counter-section overflow-hidden">
  <div class="container">
  <div class="row counter-wrap gy-lg-0 gy-4">
  <div class="square-pattern"></div>
  <div class="col-lg-3 col-md-6">
  <div class="counter-item">
  <div class="counter-icon">
  <i class="ci ci-engineer-2"></i>
  </div>
  <div class="counter-content">
  <h3><span class="odometer" data-count="145">00</span></h3>
  <h4>Happy Clients</h4>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="counter-item">
  <div class="counter-icon">
  <i class="ci ci-building"></i>
  </div>
  <div class="counter-content">
  <h3><span class="odometer" data-count="75">00</span></h3>
  <h4>Project Completed</h4>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="counter-item">
  <div class="counter-icon">
  <i class="ci ci-hand"></i>
  </div>
  <div class="counter-content">
  <h3><span class="odometer" data-count="25">00</span></h3>
  <h4>Award Won</h4>
  </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-6">
  <div class="counter-item">
  <div class="counter-icon">
  <i class="ci ci-engineer"></i>
  </div>
  <div class="counter-content">
  <h3><span class="odometer" data-count="235">00</span></h3>
  <h4>Team Members</h4>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  <section class="testimonial-section padding">
  <div class="map-pattern"></div>
  <div class="container">
  <div class="row">
  <div class="col-lg-5 d-none d-lg-block">
  <div class="testi-thumb-wrapper">
  <div class="testi-thumb-active">
  <div class="testi-thumb-img"></div>
  </div>
  <div class="testi-custom-pagination"></div>

  <div class="test-nav-wrap">
  <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
  <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
  </div>
  </div>
  </div>
  <div class="col-lg-7 ps-lg-5">
  <div class="section-heading mb-40">
  <h3>Clients Testimonials</h3>
  <h2>What <span>clients says!</span></h2>
  </div>
  <div class="swiper-outside">
  <div class="testimonial-carousel">
  <div class="swiper-wrapper">
  <div class="swiper-slide" data-thumb="assets/img/team-1.jpg">
  <div class="testimonial-item">
  <i class="las la-quote-right quote"></i>
  <ul class="rattings">
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  </ul>
  <p>Seriously the best customer support ever!, who ever has been helping, THANK YOU!, not only have they been very patient with me, they have explained me step by step...</p>
  <div class="testi-meta">
  <div class="testi-thumb"><img src="assets/img/team-1.jpg" alt="thumb"></div>
  <div class="testi-content">
  <h3>Anthony Notson</h3>
  <h5>Site Engineer</h5>
  </div>
  </div>
  </div>
  </div>
  <div class="swiper-slide" data-thumb="assets/img/team-2.jpg">
  <div class="testimonial-item">
  <i class="las la-quote-right quote"></i>
  <ul class="rattings">
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  </ul>
  <p>Seriously the best customer support ever!, who ever has been helping, THANK YOU!, not only have they been very patient with me, they have explained me step by step...</p>
  <div class="testi-meta">
  <div class="testi-thumb"><img src="assets/img/team-2.jpg" alt="thumb"></div>
  <div class="testi-content">
  <h3>Anthony Notson</h3>
  <h5>Site Engineer</h5>
  </div>
  </div>
  </div>
  </div>
  <div class="swiper-slide" data-thumb="assets/img/team-3.jpg">
  <div class="testimonial-item">
  <i class="las la-quote-right quote"></i>
  <ul class="rattings">
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  <li><i class="las la-star"></i></li>
  </ul>
  <p>Seriously the best customer support ever!, who ever has been helping, THANK YOU!, not only have they been very patient with me, they have explained me step by step...</p>
  <div class="testi-meta">
  <div class="testi-thumb"><img src="assets/img/team-3.jpg" alt="thumb"></div>
  <div class="testi-content">
  <h3>Anthony Notson</h3>
  <h5>Site Engineer</h5>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

  <section class="cta-section">
  <div class="container">
  <div class="row cta-wrap">
  <div class="col-lg-6">
  <div class="section-heading">
  <h3>Great experience in building!</h3>
  <h2>Read to work together in your <span>next projects!</span></h2>
  <p>Construction is a general term meaning the art and science to form objects systems or organizations.</p>
  <a href="contact.html" class="default-btn">Make Appointment</a>
  </div>
  </div>
  <div class="cta-men"></div>
  </div>
  </div>
  </section>

  <section class="blog-section bg-grey padding">
  <div class="container">
  <div class="section-heading text-center mb-40">
  <h3>latest news from blog</h3>
  <h2>News and <span>insights!</span></h2>
  <p>Construction is a general term meaning the art and science to form <br>objects systems or organizations.</p>
  </div>
  <div class="row gy-lg-0 gy-4">
  <div class="col-lg-4 col-md-6">
  <div class="post-card">
  <div class="post-thumb">
  <img src="assets/img/post-1.jpg" alt="post">
  <a href="blog-grid.html" class="post-category">Business</a>
  </div>
  <div class="post-content-wrap">
  <ul class="post-meta">
  <li><i class="las la-calendar"></i>Jan 01 2022</li>
  <li><i class="las la-user"></i>Elliot Alderson</li>
  </ul>
  <div class="post-content">
  <h3><a href="blog-details.html" class="hover">How To Start Initian Startup Business.</a></h3>
  <p>Financial experts support or help you to to find out which way you can raise your funds more...</p>
  <a href="blog-details.html" class="read-more">Read More</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="post-card">
  <div class="post-thumb">
  <img src="assets/img/post-2.jpg" alt="post">
  <a href="blog-grid.html" class="post-category">Startup</a>
  </div>
  <div class="post-content-wrap">
  <ul class="post-meta">
  <li><i class="las la-calendar"></i>Jan 01 2022</li>
  <li><i class="las la-user"></i>Elliot Alderson</li>
  </ul>
  <div class="post-content">
  <h3><a href="blog-details.html">Principle of Efective Marketing.</a></h3>
  <p>Financial experts support or help you to to find out which way you can raise your funds more...</p>
  <a href="blog-details.html" class="read-more">Read More</a>
  </div>
  </div>
  </div>
  </div>
  <div class="col-lg-4 col-md-6">
  <div class="post-card">
  <div class="post-thumb">
  <img src="assets/img/post-3.jpg" alt="post">
  <a href="blog-grid.html" class="post-category">Finance</a>
  </div>
  <div class="post-content-wrap">
  <ul class="post-meta">
  <li><i class="las la-calendar"></i>Jan 01 2022</li>
  <li><i class="las la-user"></i>Elliot Alderson</li>
  </ul>
  <div class="post-content">
  <h3><a href="blog-details.html">Innovative business all over the world.</a></h3>
  <p>Financial experts support or help you to to find out which way you can raise your funds more...</p>
  <a href="blog-details.html" class="read-more">Read More</a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>

 

  <div id="scrollup">
  <button id="scroll-top" class="scroll-to-top"><i class="las la-arrow-up"></i></button>
  </div>
