<header class="main-header">
  <div class="container">
  <div class="main-header-wapper">
  <div class="site-logo" >
  <a routerLink="/home" >
    <!-- <img src="assets/img/logo-light-copy.png" alt="Logo"  style="width: 5rem;"> -->
    <h1 class="text-warning ms-">Mortada</h1>
  </a>
</div>
  <div class="main-header-info">
  <div class="top-header">
  <ul class="top-left">
  <li><i class="las la-phone-volume"></i><a href="tel:5267214392">5267-214-392</a></li>
  <li><i class="las la-envelope-open"></i><a href="https://html.dynamiclayers.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="1b72757d7435737e776b5b767a727735587476">[email&#160;Mortada.Company&#64;gmail.com]</a></li>
  </ul>
  <div class="top-right">
  <ul class="top-header-nav">
  <li><a href="faqs.html">Help</a></li>
  <li><a href="contact.html">Support</a></li>
  <li><a href="faqs.html">FAQ</a></li>
  </ul>
  <ul class="header-social-share">
  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
  <li><a href="#"><i class="lab la-twitter"></i></a></li>
  <li><a href="#"><i class="lab la-pinterest"></i></a></li>
  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
  </ul>
  </div>
  </div>

  <div class="header-menu-wrap">
  <ul class="nav-menu">
  <li>
  <a routerLink="/home">Home</a>

  </li>
  <li>
  <a routerLink="/aboutCompany">Company</a>
  <ul>
  <li><a routerLink="/about">About Us</a></li>
  <li><a routerLink="/aboutCompany">About Company</a></li>
  <li><a routerLink="/services">Our Services</a></li>
  <li><a routerLink="/servicesDetails">Services Details</a></li>
  </ul>
  </li>
  <li>
  <a routerLink="/team">Team</a>
 
  </li>
  <li>
  <a routerLink="/projects">Projects</a>
  </li>
  <li class="dropdown_menu">
  <a routerLink="/clients">clients</a>

  </li>
  <li><a routerLink="/contact">Contact</a></li>
  <li><a routerLink="/signUp">Sign Up</a></li>
  <li><a routerLink="/signIn"> Sign In</a>
    <ul>
    <li><a routerLink="/signIn">Sign In For Users</a></li>
    <li><a routerLink="/signIn-admin">Sign In For Admins</a></li>
    <li><a routerLink="/signIn-owner">Sign In For Super Admin</a></li>
    </ul></li>
  </ul>
  <div class="menu-right-item">
  <div class="menu-action-btn dl-search-icon">
  <!-- <i class="las la-search"></i> -->
  </div>

  <div class="mobile-menu-icon">
  <div class="burger-menu">
  <div class="line-menu line-half first-line"></div>
  <div class="line-menu"></div>
  <div class="line-menu line-half last-line"></div>
  </div>
  </div>
  <a routerLink="/contact" class="default-btn d-none d-lg-block d-md-block">Get Solution</a>
  </div>
  </div>

  </div>
  </div>
  </div>
  </header>
