


      <div id="popup-search-box">
      <div class="box-inner-wrap d-flex align-items-center">
      <form id="form" action="#" method="get" role="search">
      <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
      <button id="popup-search-button" type="submit" name="submit">
      <i class="las la-search"></i>
      </button>
      </form>
      <div class="search-close"><i class="las la-times"></i></div>
      </div>
      </div>

      <div id="searchbox-overlay"></div>
      <section class="page-header error">
      <div class="page-header-bg"></div>
      <div class="container">
      <div class="page-header-info text-center">
      <img src="assets/img/crying-emoji.svg" alt="img">
      <h2>404 Page <span>Not Found!</span></h2>
      <p>The page you are looking for was moved, removed, <br> renamed or might never existed.</p>
      <a href="index.html" class="default-btn mt-20">Back To Home</a>
      </div>
      </div>
      </section>



      <div id="scrollup">
      <button id="scroll-top" class="scroll-to-top"><i class="las la-arrow-up"></i></button>
      </div>



