



      <div id="popup-search-box">
      <div class="box-inner-wrap d-flex align-items-center">
      <form id="form" action="#" method="get" role="search">
      <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
      <button id="popup-search-button" type="submit" name="submit">
      <i class="las la-search"></i>
      </button>
      </form>
      <div class="search-close"><i class="las la-times"></i></div>
      </div>
      </div>

      <div id="searchbox-overlay"></div>
      <section class="page-header bd-bottom">
      <div class="page-header-bg"></div>
      <div class="container">
      <div class="page-header-info">
      <h4>Team details</h4>
      <h2>Our team create great <br>things <span>together!</span></h2>
      <p>Our versatile team is built of designers, developers and <br>digital marketers who all bring unique experience.</p>
      </div>
      </div>
      </section>

      <section class="team-details padding">
      <div class="bg-pattern"></div>
      <div class="container">
      <div class="row gx-lg-5 align-items-center gy-lg-0 gy-4">
      <div class="col-lg-6">
      <img class="team-details-thumb" src="assets/img/team-2.jpg" alt="img">
      </div>
      <div class="col-lg-6">
      <div class="section-heading mb-30">
      <h3>Great experience in building!</h3>
      <h2>Graham Thomas</h2>
      <p>Construction is a general term meaning the art and science to form <br>objects systems or organizations.</p>
      <p>Financial experts support or help you to to find out which way you can raise your funds more. Arkit a trusted name for providing assistants. Initially their main objective was to ensure the service they provide these people are loyal to their industry.</p>
      </div>
      <ul class="skill-wrap mb-40">
      <li class="skill-item">
      <h4>Factory Manufacture</h4>
      <div class="progress-box">
      <div class="progress">
      <div class="progress-bar wow progress-bar-anim" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="--progress-bar-count: 85%">
      <span>85%</span>
      </div>
      </div>
      </div>
      </li>
      <li class="skill-item">
      <h4>General Construction</h4>
      <div class="progress-box">
      <div class="progress">
      <div class="progress-bar wow progress-bar-anim" data-wow-delay="200ms" data-wow-duration="2000ms" role="progressbar" style="--progress-bar-count: 75%">
      <span>75%</span>
      </div>
      </div>
      </div>
      </li>
      </ul>
      <a href="#" class="default-btn">Contact For Service</a>
      </div>
      </div>
      </div>
      </section>

      <section class="contact-section bg-grey padding">
      <div class="map-pattern"></div>
      <div class="container">
      <div class="section-heading text-center mb-30">
      <h3>Contact with me</h3>
      <h2>Feel free to write <br>Our <span>experts!</span></h2>
      <p>Construction is a general term meaning the art and science to form <br>objects systems or organizations.</p>
      </div>
      <div class="row">
      <div class="col-lg-8 offset-lg-2">
      <div class="service-form">
      <form action="https://html.dynamiclayers.net/te/buildex/php/contact.php" method="post" id="ajax_contact" class="form-horizontal">
      <div class="contact-form-group">
      <div class="form-field">
      <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required>
      </div>
      <div class="form-field">
      <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required>
      </div>
      <div class="form-field">
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
      </div>
      <div class="form-field">
      <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" required>
      </div>
      <div class="form-field message">
      <textarea id="message" name="message" cols="30" rows="4" class="form-control" placeholder="Message" required></textarea>
      </div>
      <div class="form-field submit-btn text-center">
      <button id="submit" class="default-btn" type="submit">Send Massage</button>
      </div>
      </div>
      <div id="form-messages" class="alert" role="alert"></div>
      </form>
      </div>
      </div>
      </div>
      </div>
      </section>



      <div id="scrollup">
      <button id="scroll-top" class="scroll-to-top"><i class="las la-arrow-up"></i></button>
      </div>

