


      <div id="popup-search-box">
      <div class="box-inner-wrap d-flex align-items-center">
      <form id="form" action="#" method="get" role="search">
      <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
      <button id="popup-search-button" type="submit" name="submit">
      <i class="las la-search"></i>
      </button>
      </form>
      <div class="search-close"><i class="las la-times"></i></div>
      </div>
      </div>

      <div id="searchbox-overlay"></div>
      <section class="page-header bd-bottom">
      <div class="page-header-bg"></div>
      <div class="container">
      <div class="page-header-info">
      <h4>Our Dedicated Team</h4>
      <h2>Our team create great <br>things <span>together!</span></h2>
      <p>Our versatile team is built of designers, developers and <br>digital marketers who all bring unique experience.</p>
      </div>
      </div>
      </section>

      <section class="team-section padding">
      <div class="wave-line"></div>
      <div class="container">
      <div class="row gy-4">
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-1.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Site Engineer</h4>
      <h3><a href="team-details.html">Joseph Crawford</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-2.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Project Manager</h4>
      <h3><a href="team-details.html">Anthony Notson</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-3.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Structural Engineer</h4>
      <h3><a href="team-details.html">Allison Herman</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-4.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Executive Advisor</h4>
      <h3><a href="team-details.html">James Williams</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-5.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Executive Advisor</h4>
      <h3><a href="team-details.html">Kristin Castillo</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-6.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Structural Engineer</h4>
      <h3><a href="team-details.html">Stephen Miller</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-7.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Project Manager</h4>
      <h3><a href="team-details.html">Timothy Paradis</a></h3>
      </div>
      </div>
      </div>
      <div class="col-lg-3 col-md-6">
      <div class="team-item">
      <div class="team-thumb">
      <img src="assets/img/team-8.jpg" alt="thumb">
      <ul class="team-social">
      <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
      <li><a href="#"><i class="lab la-twitter"></i></a></li>
      <li><a href="#"><i class="lab la-instagram"></i></a></li>
      <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
      </ul>
      </div>
      <div class="team-content">
      <h4 class="position">Site Engineer</h4>
      <h3><a href="team-details.html">Félix Lengyel</a></h3>
      </div>
      </div>
      </div>
      </div>
      </div>
      </section>

      <section class="call-to-action padding-bottom">
      <div class="container">
      <div class="row">
      <div class="cta-inner">
      <div class="section-heading">
      <h3>Lets talk with us!</h3>
      <h2>Serving since 1970 with <br> Global <span>strategies.</span></h2>
      </div>
      <div class="btn-wrap"><a href="#" class="default-btn">Get Solution</a></div>
      </div>
      </div>
      </div>
      </section>



      <div id="scrollup">
      <button id="scroll-top" class="scroll-to-top"><i class="las la-arrow-up"></i></button>
      </div>


